<div class="form-card">
	<img class="logo" src="images/logo_full.png">
	<div class="col-12 center" style="margin-bottom: 10px;color:brown;">
		Cadastro Fechado
	</div>

	<a href="/auth/google">
		<div class="google-btn">
			<div class="google-icon-wrapper">
				<img class="google-icon" src="/images/google/googleLogo.svg"/>
			</div>
			<div class="google-text-wrapper">
				Fazer login com o Google
			</div>
		</div>
	</a>
	
	<div class="col-12" style="margin-top: 5px;">
		<div class="links col-6" style="text-align: left;">
			<a href="https://wiki.travelrpg.com/w/Projeto:Pol%C3%ADtica_de_privacidade">
				Política de privacidade
			</a>
		</div>
	</div>
	<img src="images/desenvolvimento.jpg" style="width: 100%;">
</div>
<div class="center" style="margin-top: 50px;color: greenyellow;">
	Wiki Aberta<br />
	<a href="https://wiki.travelrpg.com/w/"><img src="https://wiki.travelrpg.com/w/resources/assets/logo_wiki.png"
			style=""></a>
</div>
