<!DOCTYPE html>
<html lang="pt-BR">
  <head>
		<title>{{title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-signin-client_id" content="531587136969-fdh72m1o3l5j8so81aojkbkfb9m15mgf.apps.googleusercontent.com">
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>